.donationBoxContainer {
  float: left;
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
  padding-bottom: 11px;
  overflow: hidden;
  &:focus {
    background-color: red;
  }
  .donateAgain {
    width: 0;
    background-color: #00ad0e;
    height: 100%;
    max-height: 100%;
    position: absolute;
    right: 0;
    color: white;
    z-index:9;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    opacity: 0;
    &:hover {
      cursor: pointer;
      background-color: #00960c;
    }
    .donateAgainInnerContainer {
      padding-top: 30px;
      text-align: center;
      .smiley {
        width: 30px;
        height: 30px;
        margin-bottom:5px;
        filter: brightness(100) invert(0);
        margin-left: 23%;
        background-image: url('https://images.vexels.com/media/users/3/134595/isolated/preview/525928028c88f02fb50261dd70ceb749-happy-emoticon-emoji-by-vexels.png');
        background-size: 100%;
      }
    }
  }

  .donateButtonGrow {
    webkit-animation: growButton 2s forwards;
    -moz-animation: growButton 2s forwards;
    -o-animation: growButton 2s forwards;
    animation: growButton 2s forwards;
  }
  @-webkit-keyframes growButton {
    0%   {
      width: 0;
      opacity: 1;
    }
    100% {
      width: 60px;
      opacity: 1;
    }
  }

  .donateButtonGrowMainContainerShrink {
    webkit-animation: shrinkMainContainer 2s forwards;
    -moz-animation: shrinkMainContainer 2s forwards;
    -o-animation: shrinkMainContainer 2s forwards;
    animation: shrinkMainContainer 2s forwards;
  }
  @-webkit-keyframes shrinkMainContainer {
    0%   {
      width: 92%;
    }
    100% {
      width: 77%;
    }
  }

  .donationButtonActive {
    width: 77%;
  }
  .donationBoxInnerContainer {
    float: left;
    margin: 10px 4%;
    height: 100%;
    width: 92%;
    position: relative;
    .donationBoxStatus {
      float: left;
      height: 100%;
      width: 26%;
      max-width: 70px;
      position: relative;
      .graph {
        border-radius: 360px;
        position: relative;
        z-index:11;
      }
      .filledGraph {
        border-radius: 360px;
        position: absolute;
        left:0;
        top:0;
        z-index:10;
      }
      .donationBoxImage {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 360px;
        height: 70px;
        width: 70px;
        background-size: cover;
        background-position: center;
      }
    }
    .donationBoxInformation {
      float: left;
      margin-left: 7%;
      margin-top: 10px;
      font-size: 17px;
      width: 67%;
      .donationBoxTitle {
      }
      .donationBoxSubTitle {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .donationBoxSubInfoContainer {
        font-size: 14px;
        float:left;
        .donationBoxCompany {
          float: left;
        }
        .donationBoxLocation {
          float: left;
          margin-left: 5px;
        }
      }
    }
    .donationButtons {
      float: left;
      width: 100%;
      margin-top: 4px;
      .donationRemainingDays {
        float:left;
        width: 44.85%;
        padding: 5px 5% 5px 0;
        background-color: rgba(0, 0, 0, 0.21);
        border-bottom-left-radius: 17px;
        border-top-left-radius: 17px;
        color: white;
        text-align: center;
        &:hover {
          background-color: rgba(0, 0, 0, 0.41);
        }
      }
      .donationRaised {
        float:right;
        width: 44.85%;
        padding: 5px 0 5px 5%;
        background-color: rgba(0, 0, 0, 0.21);
        border-bottom-right-radius: 17px;
        border-top-right-radius: 17px;
        color: white;
        text-align: center;
        &:hover {
          background-color: rgba(0, 0, 0, 0.41);
        }
      }
    }
  }
}
