.donationContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.62);

  .title {
    margin: 0 auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.47);
    font-size: 30px;
    @media (max-width: 375px) {
      font-size: 23px;
    }
  }

  .input {
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.35);
    @media (max-width: 375px) {
      font-size: 22px;
      margin-top: 29px;
      height: 50px;
    }
  }

  .cancel {
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.45);
    &:hover {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  .donateButtonContainer {
    width: 100%;
    height: 76px;
    float: left;
    left: 0;
    text-align: center;
  }
}
.donationInnerContainer {
  background-color: #fff;
  padding: 8%;
  width: 50%;
  border-radius: 5px;
  height: 242px;
  max-width: 221px;
  margin: 0 auto;
  position: relative;
  top: 25%;
  @media (max-width: 375px) {
    height: 190px;
    max-width: 72%;
    width: 100%;
  }
}
.donateButton {
  width: 90%;
  height: 46px;
  background-color: rgb(58, 175, 68);
  color: rgba(255, 255, 255, 0.81);
  margin: 0 auto;
  margin-top: 25px;
  font-size: 22px;
  text-align: center;
  line-height: 46px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  @media (max-width: 375px) {
    margin-top: 22px;
  }
  &:hover {
    cursor: pointer;
    background-color: rgb(78, 175, 98);
  }
}