.navigationContainer {
  .navigationItem {
    float: left;
    height: 50px;
    width: 27%;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 50px;
    color: rgba(0, 0, 0, 0.68);
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
    &:hover {
      background-color: #dcdcdc;
      cursor: pointer;
    }
  }
  .activeTab {
    background-color: #cacaca;
  }
}
.loadingContent {
  background-image: url(http://rechtwijzer.modria.com/static/images/ajax-loader.gif);
  width: 70px;
  height: 70px;
  background-size: 100%;
  float: left;
  opacity: .4;
  background-repeat: no-repeat;
  left: 50%;
  position: relative;
  margin-left: -35px;
  margin-top: 80px;
  text-align: center;
  .loadingContentText {
    color: #000;
    width: 110px;
    margin-top: 80px;
    margin-left: -14px;
  }
}

.aboutContent {
  float: left;
  font-size: 16px;
  margin-top: 5px;
  color: #4e4e4e;
  width: 90%;
  padding: 10px 5% 20px 5%;
  .descriptionItem {
    float: left;
    width: 100%;
    margin-bottom: 28px;
  }
  .bullets {
    float: left;
    margin-top: 0;
    padding-left: 20px;
    .bulletLi {
      font-size: 16px;
      margin-bottom:5px;
    }
  }
  .topicImage {
    width: 100%;
    height: 200px;
    float: left;
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
  .topicDescription {
    font-size: 16px;
    margin-top: 20px;
    color: #4e4e4e;
    float: left;
    margin-bottom: 30px;
  }
}

.donateButtonContainer {
  width: 100%;
  height: 76px;
  background-color: rgba(255, 255, 255, 0.42);
  float: left;
  left: 0;
  text-align: center;
  .donateButton {
    width: 90%;
    height: 46px;
    background-color: rgb(58, 175, 68);
    color: rgba(255, 255, 255, 0.81);
    margin: 0 auto;
    margin-top: 16px;
    font-size: 22px;
    text-align: center;
    line-height: 46px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.28);
  }
}

.contact {
  float: left;
  text-align: center;
  width: 100%;
  padding-top: 60px;
  color: rgba(0, 0, 0, 0.44);
  font-size: 16px;
}

.donateButtonContainerAlt {
  bottom: 0;
}

.titleContainer {
  float: left;
  width: 100%;
  background-color: rgba(0,0,0,.03);
  font-size: 18px;
  color: rgba(0, 0, 0, 0.55);
  .titleInnerContainer {
    padding: 15px;
  }
}

.meContainer {
  float: left;
  height: 88px;
  width: 100%;
  .meImage {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 360px;
    background-position: center;
    background-size: cover;
    margin-left: 18px;
    margin-top: 16px;
  }
  .name {
    color: rgba(0, 0, 0, 0.88);
    float: left;
    margin-top: 24px;
    margin-left: 17px;
    font-size: 16px;
    width: 60%;
  }
  .when {
    float: left;
    width: 60%;
    margin-left: 16px;
    margin-top: 2px;
    color: rgba(0, 0, 0, 0.37);
  }
}

.noDonation {
  float: left;
  margin-left: 30px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.57);
  margin-top: 34px;
}














