.donationCounterContainer {
  text-align: center;
  .donationCounter {
    color: black;
    .donationCounterNumber {
      display: inline-block;
      background-color: #353535;
      color: white;
      padding: 2px 7px 2px 7px;
      border-radius: 3px;
      margin-left: 1px;
    }
  }
  .donationTitle {
    color: rgba(0, 0, 0, 0.67);
    margin-left: 15px;
    margin-top: 2px;
    display: inline-block;
  }
}