html {
  body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: left 1ms;
    -moz-transition: left 1ms;
    -o-transition: left 1ms;
    transition: left 1ms;
  }
}