.navigationContainer {
  .navigationItem {
    float: left;
    height: 50px;
    width: 27%;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 50px;
    color: rgba(0, 0, 0, 0.68);
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
    &:hover {
      background-color: #dcdcdc;
      cursor: pointer;
    }
  }
  .activeTab {
    background-color: #cacaca;
  }
}
.loadingContent {
  background-image: url(http://rechtwijzer.modria.com/static/images/ajax-loader.gif);
  width: 70px;
  height: 70px;
  background-size: 100%;
  float: left;
  opacity: .4;
  background-repeat: no-repeat;
  left: 50%;
  position: relative;
  margin-left: -35px;
  margin-top: 80px;
  text-align: center;
  .loadingContentText {
    color: #000;
    width: 110px;
    margin-top: 80px;
    margin-left: -14px;
  }
}