.bannerScreenContainer {
  float: left;
  width: 100%;
  .bannerScreenInnerContainer {
    .bannerScreenTitle {
      color: rgba(0,0,0,.67);
      font-size: 17px;
      font-weight: 500;
      margin: 17px 0 17px 18px;
      display: block;
    }
    .bannerScreenTitleFadeIn {
      webkit-animation: titleFadeIn 2s forwards;
      -moz-animation: titleFadeIn 2s forwards;
      -o-animation: titleFadeIn 2s forwards;
      animation: titleFadeIn 2s forwards;
    }

    .bannerImageContainer {
      position: relative;
      float: left;
      width: 100%;
    }

    .screenBlackOut {
      background-color: black;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.45);
      .companyImage {
        float: left;
        width: 25%;
        padding-bottom: 25%;
        background-image: url(https://littlecave.nl/wp-content/uploads/et_temp/panda-27447_410x400.jpg);
        background-size: cover;
        background-position: 50%;
        margin-left: 5%;
        margin-top: 25px;
        border: 1px solid rgba(0, 0, 0, 0.77);
        @media (min-width: 325px) {
          width: 80px;
          height: 80px;
          padding-bottom: 0;
        }
      }
      .text {
        @media (max-width: 320px) {
          float: left;
        }
      }
      .subTitle {
        font-size: 13px;
        @media (max-width: 320px) {
          float: left;
          margin-left: 11px;
          margin-top: 2px;
        }
      }
      .title {
        float: left;
        color: white;
        margin-left: 4%;
        width: 65%;
        line-height: 29px;
        margin-top: 27px;
        font-size: 6.8vw;
        @media (min-width: 325px) {
          font-size: 22px;
        }
        @media (max-width: 220px) {
          font-size: 15px;
        }
      }
      .goal {
        float: left;
        color: white;
        width: 26.5%;
        font-size: 21px;
        font-weight: 500;
        margin-left: 5%;
        margin-top: 24px;
        position: relative;
        @media (max-width: 320px) {
          width: 100%;
          margin-top: 12px;
        }
      }
      .contributors {
        float: left;
        color: white;
        width: 26.5%;
        font-size: 21px;
        font-weight: 500;
        margin-left: 5%;
        margin-top: 24px;
        position: relative;
        @media (max-width: 320px) {
          width: 100%;
          margin-top: 12px;
        }
      }
      .days {
        float: left;
        color: white;
        width: 26.5%;
        font-size: 21px;
        font-weight: 500;
        margin-left: 5%;
        margin-top: 24px;
        position: relative;
        @media (max-width: 320px) {
          width: 100%;
          margin-top: 12px;
        }
      }
      .percentageBar {
        float: left;
        width: 90%;
        height: 7px;
        background-color: white;
        margin-top: 121px;
        margin-left: 5%;
        border-radius: 11px;
        position: relative;
        -webkit-transition: margin-top 1200ms;
        -moz-transition: margin-top 1200ms;
        -o-transition: margin-top 1200ms;
        transition: margin-top 1200ms;
        @media (max-width: 320px) {
          margin-top: 80px;
        }
        .percentageBarInner {
          left: 0;
          top: 0;
          height: 100%;
          width: 56%;
          background-color: #3aaf44;
          position: relative;
          -webkit-transition: width 2000ms;
          -moz-transition: width 2000ms;
          -o-transition: width 2000ms;
          transition: width 2000ms;
          border-radius: 5px;
          .percentageBarPopup{
            position: absolute;
            right: -18px;
            height: 20px;
            background-color: #fff;
            text-align: center;
            border-radius: 5px;
            margin-top: -29px;
            font-size: 12px;
            padding: 0 5px 0 6px;
            font-weight: 500;
          }
        }
      }
    }

    .bannerImage {
      float: left;
      width: 100%;
      height: 180px;
      background-size: cover;
      background-position: center;
      border-top: 1px solid rgb(158, 158, 158);
      border-bottom: 1px solid rgb(158, 158, 158);
      -webkit-transition: height 2000ms;
      -moz-transition: height 2000ms;
      -o-transition: height 2000ms;
      transition: height 2000ms;
      position: relative;
      margin-top: 0;
    }

    .bannerImagePlaceholder {
      float: left;
      width: 100%;
      height: 180px;
      background-size: cover;
      background-position: center;
      border-top: 1px solid rgb(158, 158, 158);
      border-bottom: 1px solid rgb(158, 158, 158);
      -webkit-transition: height 2000ms, opacity 1200ms;
      -moz-transition: height 2000ms, opacity 1200ms;
      -o-transition: height 2000ms, opacity 1200ms;
      transition: height 2000ms, opacity 1200ms;
      margin-top: 0;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
    }

    .bannerImagePlaceholderHide {
      opacity: 0;
    }


    @-webkit-keyframes grow {
      0%   {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }


    .bannerFull {
      webkit-animation: grow 2s forwards;
      -moz-animation: grow 2s forwards;
      -o-animation: grow 2s forwards;
      animation: grow 2s forwards;
      overflow: hidden;
    }

    .bannerSmall {
      webkit-animation: shrink 2s forwards;
      -moz-animation: shrink 2s forwards;
      -o-animation: shrink 2s forwards;
      animation: shrink 2s forwards;
    }

    @-webkit-keyframes grow {
      0%   {
        margin-top: 61px;
        height: 180px;
      }
      100% {
        margin-top: 0;
        height: 330px;
      }
    }

    @-webkit-keyframes shrink {
      0%   {
        margin-top: 0;
        height: 330px;
      }
      100% {
        margin-top: 0;
        height: 180px;
      }
    }

    @-webkit-keyframes titleFadeIn {
      0%   {
        overflow: hidden;
        height: 0;
        margin: 0;
        opacity: 0;
      }
      20% {
        height: 20px;
      }
      99%   {
        overflow: hidden;
      }
      100% {
        overflow: auto;
        height: auto;
        margin: 17px 0 17px 18px;
        opacity: 1;
      }
    }
  }
}