.navBarContainer {
  width: 100%;
  height: 40px;
  padding-top: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  background-color: white;
}

.navBarContainerFadeIn {
  webkit-animation: fadeIn 2s forwards;
  -moz-animation: fadeIn 2s forwards;
  -o-animation: fadeIn 2s forwards;
  animation: fadeIn 2s forwards;
}

.navBarContainerHidden {
  overflow: hidden;
  webkit-animation: navContainerHide 2s forwards;
  -moz-animation: navContainerHide 2s forwards;
  -o-animation: navContainerHide 2s forwards;
  animation: navContainerHide 2s forwards;

}

@-webkit-keyframes navContainerHide {
  0%   {
    width: 100%;
    height: 40px;
    padding-top: 18px;
    opacity: 1;
  }
  100% {
    height: 0;
    padding-top: 0;
    border-bottom: 0;
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0%   {
    height: 0;
    padding-top: 0;
    border-bottom: 0;
  }
  30%{
    border-bottom: 0 solid rgba(0, 0, 0, 0.0);
  }
  70% {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  100% {
    height: 40px;
    padding-top: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  }
}