.navigationContainer {
  float: left;
  width: 100%;
  clear: both;
  height: 51px;
  .navigationItem {
    float: left;
    height: 50px;
    width: 27%;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 50px;
    color: rgba(0, 0, 0, 0.68);
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
    text-decoration: none;
    &:hover {
      background-color: #dcdcdc;
      cursor: pointer;
    }
  }
  .navigationSearchItem {
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png);
    background-size: auto 89%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    opacity: .7;
    height: 50px;
    width: 17.5%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(0,0,0,.1);
  }
  .activeTab {
    background-color: #cacaca;
  }

  .searchTabShrink {
    webkit-animation: shrinkSearch 2s forwards;
    -moz-animation: shrinkSearch 2s forwards;
    -o-animation: shrinkSearch 2s forwards;
    animation: shrinkSearch 2s forwards;
  }

  .searchTabGrow {
    webkit-animation: growSearch 2s forwards;
    -moz-animation: growSearch 2s forwards;
    -o-animation: growSearch 2s forwards;
    animation: growSearch 2s forwards;
  }

  .searchTabShrinking {
    webkit-animation: grow 2s forwards;
    -moz-animation: grow 2s forwards;
    -o-animation: grow 2s forwards;
    animation: grow 2s forwards;
  }

  .searchTabGrowing {
    webkit-animation: shrink 2s forwards;
    -moz-animation: shrink 2s forwards;
    -o-animation: shrink 2s forwards;
    animation: shrink 2s forwards;
  }

  @-webkit-keyframes shrinkSearch {
    0%   {
      width: 17.5%;
      opacity: 1;
    }
    100% {
      width: 0%;
      opacity: 0;
    }
  }
  @-webkit-keyframes growSearch {
    0%   {
      width: 0%;
      opacity: 0;
    }
    100% {
      width: 17.5%;
      opacity: 1;
    }
  }

  @-webkit-keyframes grow {
    0%   {
      width: 27%;
    }
    100% {
      width: 32.8%;
    }
  }
  @-webkit-keyframes shrink {
    0%   {
      width: 32.8%;
    }
    100% {
      width: 27%;
    }
  }
}


